// ========================================= //
// breakpoints
// ========================================= //

// foundation
$small                  : 767px !default;        //640px
$xmedium                : 52.5em !default;      //840px
$medium                 : 64em !default;        //1024px
$large                  : 90em !default;        //1440px

// chrome inspector
$mobileS                : 20em !default;        //320px
$mobileM                : 23.4375em !default;   //375px
$mobileL                : 26.5625em !default;   //425px
$mobileLO               : 30em !default;      //480px
$mobileMO               : 35.5em !default;      //568px
$tablet                 : 48em !default;        //768px

// customs
$xsmall                 : 26.25em !default;     //420px
$mobileDefault          : 767px   !default;     //767px
$mobileXl               : 31.25em !default;     //500px
$tabletS                : 36.25em !default;     //580px
$tooltip--xlarge        : 93.75em !default;     //1500px
$desktopXxL             : 125em !default;       //2000px
$desktop                : 75em !default;        //1200px
$desktopL               : 81.25em !default;     //1300px
$desktopXL              : 100em !default;       //1600px
$tabletA                : 50em !default;        //800px
$tabletAL               : 80em !default;        //1280px
$xxsmall              	: 750px !default;       //750px

$mobileDefault			: 767px					//750px