// ========================================= //
// colors
// ========================================= //


$white: #ffffff !default;
$black: #000000 !default;
$success: #2ecc71 !default;
$error: #e74c3c !default;



$blue: #0288d1 !default;
$midnight: #002140 !default;
$orange: #f49b00 !default;
$gray: #ebebeb !default;



$gray--02: #ccc !default;

$gray--03: #cfcfcf !default;


$midnight--02: #1a3853 !default;

$midnight--03: #183651 !default;


$borderColor: $gray--02;


$border: 1px solid $borderColor;


$facebookColor: #3B5998 !default;
$twitterColor: #00ACED !default;
$instagramColor: #BC2A8D !default;
$youtubeColor: #BB0000 !default;

