link(rel="apple-touch-icon" sizes="180x180" href=faviconsDir + "apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href=faviconsDir + "favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href=faviconsDir + "favicon-16x16.png")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="msapplication-TileImage" content=faviconsDir + "mstile-144x144.png")
meta(name="theme-color" content="#0093c7")