
.navbar-toggler[aria-expanded="true"] {
    .navbar-toggler-icon {
        background-color: transparent;
    }
    
    .navbar-toggler-icon:before {
        transform: rotate(45deg);
        top: 0;
        transition: 0.3s all;
        width: rem(26);
    }
    .navbar-toggler-icon:after {
        transform: rotate(-45deg);
        top: 0;
        transition: 0.3s all;
        width: rem(26);
        content: '';
    }
}