section(id="salon-the")
    include ../components/_jus-naturel
    include ../components/_cocktail
    include ../components/_ryden
    include ../components/_mocktail
    include ../components/_mojito
    include ../components/_milkshake