include ./_block-jus
mixin milkshake(title, price, img="https://via.placeholder.com/158x203")
    +jus('col-3', 'block-ryden block-ryden-chaud', title ,'color-blue',price, img="https://via.placeholder.com/168x231")