include ./_block-jus
mixin ryden(title, price, img="https://via.placeholder.com/158x203")
    +jus('col-4', 'block-ryden block-ryden-chaud', title ,'color-brown',price, img="https://via.placeholder.com/168x210")
    