- var pathImg = imgDir + 'jus/cocktail/'
<!--  DEBUT Cocktail -->

include ../blocks/_header
include ../blocks/_cocktail
.container
    +header('Menu Cocktail')
    .row.justify-content-center
        - var items = [{'title': 'Detox Green', 'price': '26dh', 'img': 'detox-green.jpg'}, {'title': 'Detox purple', 'price': '26dh', 'img': 'detox-purple.jpg'}, {'title': 'Jus de regime', 'price': '20dh', 'img': 'detox-regime.jpg'}, {'title': 'Detox carotte', 'price': '26dh', 'img': 'detox-carotte.jpg'}, {'title': 'Sahara', 'price': '35dh', 'img': 'sahara.jpg'}]
        each item in items
            +cocktail(item.title, item.price, pathImg+item.img)

<!--  FIN Cocktail -->