<!--  DEBUT Jus Naturels -->

include ../blocks/_header
include ../blocks/_jus-naturel
.container
    +header('Nos Jus Naturels')
    .row
        - var items = [{'title': 'Jus de Kiwi', 'price': '22dh'}, {'title': 'Jus de Mangue', 'price': '22dh'}, {'title': 'Jus de Kaki', 'price': '20dh'}, {'title': 'Jus d’Ananas', 'price': '22dh'}, {'title': 'Jus de Betrave', 'price': '18dh'}, {'title': 'Jus de Carotte', 'price': '18dh'}, {'title': 'Jus de Citron', 'price': '17dh'}, {'title': 'Jus d’Orange', 'price': '17dh'}, {'title': 'Jus de Banane', 'price': '18dh'}, {'title': 'Jus de Pomme', 'price': '18dh'}, {'title': 'Jus de Poire', 'price': '18dh'}, {'title': 'Jus d’Avocat', 'price': '20dh'}, {'title': 'Jus de Pêche', 'price': '18dh'}, {'title': 'Jus de Dragon', 'price': '30dh'}, {'title': 'Jus de Citron gingembre', 'price': '20dh'}, {'title': 'Jus de Fraise', 'price': '20dh'}]
        each item in items
            +jusNaturel(item.title, item.price)

<!--  FIN Jus Naturels -->