- var pathImg = imgDir + 'jus/milkshake/'
<!--  DEBUT MilkShake -->

include ../blocks/_header
include ../blocks/_milkshake
.container
    +header('Menu MilkShake')
    //- DEBUT MilkShake Classique
    h2.title-ryden Classique
    .row.justify-content-center
        - var milkShakeClassique = [{'title': 'Oréo', 'price': '30dh', 'img': 'oreo.jpg'}, {'title': 'Chocolat', 'price': '30dh', 'img': 'Chocolat.jpg'}, {'title': 'Fraise', 'price': '30dh', 'img': 'Fraise.jpg'}, {'title': 'Vanille', 'price': '30dh', 'img': 'Vanille.jpg'}]
        each item in milkShakeClassique
            +milkshake(item.title, item.price, pathImg+item.img)
    //- FIN MilkShake Classique

    //- DEBUT MilkShake Tendance
    h2.title-ryden Froid
    .row.justify-content-center
        - var milkShakeTendance = [{'title': 'Snickers', 'price': '24dh', 'img': 'Snickers.jpg'}, {'title': 'Brownies', 'price': '24dh', 'img': 'Brownies.jpg'}, {'title': 'Kit kat', 'price': '24dh', 'img': 'Kitkat.jpg'}]
        each item in milkShakeTendance
            +milkshake(item.title, item.price, pathImg+item.img)
    //- FIN MilkShake Tendance